body {
    background-color: darkgrey;
}

main {
    padding: 0.25rem 1cap;
    padding-top: 30px;
}




/* NavLink Styling */

.nav-bar  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: aqua;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-link {
    text-decoration: none;
    color: gray;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    transition: color 0.2s, font-weight 0.2s;
}

.nav-link:hover {
    color: black;
}

.nav-link.active {
    color: blue;
    font-weight: bold;
}

.nav-bar-right,
.nav-bar-left {
    align-items: center;
    display: inline-flex;
    gap: 1rem;
}

.nav-bar-right {
    padding-right: 2rem;
}

.nav-bar a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

