@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap');
body {
    background-color: #f4f4f9;
    font-family: 'Sekuya', sans-serif;
    color: #333;
}

main {
    padding: 0.25rem 1cap;
    padding-top: 60px;
}
.nav-bar {
    display: flex;               
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;   

}

.nav-bar-left,
.nav-bar-right {
    display: flex;            
    align-items: center;
    gap: 1rem;                 
}

.nav-link,
.nav-bar button {
    text-decoration: none;
    color: white;
    font-weight: normal;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;  
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.2s, font-weight 0.2s;
    font-family: 'Sekuya', sans-serif;
}

.nav-link:hover,
.nav-bar button:hover {
    color: black;
}

.nav-link.active,
.nav-bar button.active {
    color:#333;
    font-weight: bold;
}

.companyName {
    text-align: center;
    color: white;
}