.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    width: 100%;
    bottom: 0;
}

.footer-links {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;  /* add this */
    gap: 1rem;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: #4285f4;
}

.logout {
    color: white;
    font-weight: normal;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s, font-weight 0.2s;
    font-family: 'Sekuya', sans-serif;
}

.logout:hover {
    color: #4285f4; /* same as footer links */
    font-weight: bold; /* optional */
}