.login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login-input {
    width: 250px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;

}
.login-input::placeholder {
    color: white;
    opacity: 1; 
}
.title h2 {
    text-align: center;
    color: #333;
}

.button {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background-color: #4285f4;
    color: #f4f4f9;
    font-weight: bold;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: #357ae8;
    color: black;
}
