.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.tile {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.tile img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.tile h3 {
  margin: 0.5rem 0;
}

.add-cart-controls {
  margin-top: 20px;
}


.add-cart-controls input {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: 'Sekuya', sans-serif;
  width: 100%;
  background-color: #2c3e50;
}

.add-cart-controls button {
  padding: 0.5rem;
  background-color: #2c3e50;
  color: white;
  border-radius: 6px;
  font-family: 'Sekuya', sans-serif;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-cart-controls button:hover {
  background-color: #357ae8;
}
.add-cart-controls {
  display: flex;
  gap: 0.5rem;
}
.add-cart-controls input {
  flex: 1;
}
.add-cart-controls button {
  flex: 1;
}